# Title

## Data Cleaning  
---

In this notebook

### Table of content
---

### Import packages

In [2]:
#Import miscellaneous
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

#Import processing tools
import pandas as pd

### First look

In [3]:
#Reading measles report data set 
outbreak = pd.read_csv('../data/ECDC_surveillance_data_Measles_reports.csv')
outbreak.head()

,HealthTopic,Population,Indicator,Unit,Time,RegionCode,RegionName,NumValue,TxtValue
0,Measles,All cases,Notification rate,N/1000000,1999-01,AT,Austria,0.250549290,NaN
1,Measles,All cases,Notification rate,N/1000000,1999-01,AT,Austria,0.250549290,NaN
2,Measles,All cases,Notification rate,N/1000000,1999-01,DK,Denmark,0.188197140,NaN
3,Measles,All cases,Notification rate,N/1000000,1999-01,DK,Denmark,0.188197140,NaN
4,Measles,All cases,Notification rate,N/1000000,1999-01,EL,Greece,1.581723750,NaN

In [4]:
#Reading vaccination report data set
vaccine = pd.read_csv('../data/ECDC_surveillance_data_Measles.csv')
vaccine.head()

,HealthTopic,Population,Indicator,Unit,Time,RegionCode,RegionName,NumValue,TxtValue
0,Measles,Vaccination coverage,Vaccination coverage first dose,%,1999,AT,Austria,65.0,NaN
1,Measles,Vaccination coverage,Vaccination coverage first dose,%,1999,AT,Austria,65.0,NaN
2,Measles,Vaccination coverage,Vaccination coverage first dose,%,1999,BE,Belgium,82.0,NaN
3,Measles,Vaccination coverage,Vaccination coverage first dose,%,1999,BE,Belgium,82.0,NaN
4,Measles,Vaccination coverage,Vaccination coverage first dose,%,1999,BG,Bulgaria,96.0,NaN

Checking the size of each data frame

In [5]:
print(f"There are {outbreak.shape[0]} rows and {outbreak.shape[1]} columns in outbreak data set")
print(f"There are {vaccine.shape[0]} rows and {outbreak.shape[1]} columns in vaccine data set")

There are 51416 rows and 9 columns in outbreak data set
There are 2222 rows and 9 columns in vaccine data set

Checking the time column for each data set

In [6]:
outbreak['Time'].head()

0    1999-01
1    1999-01
2    1999-01
3    1999-01
4    1999-01
Name: Time, dtype: object

In [7]:
vaccine['Time'].head()

0    1999
1    1999
2    1999
3    1999
4    1999
Name: Time, dtype: int64

**Observation**: In both data sets the `time` column need to be converted into a date time object in the same format. This way we can combine both data frames into one and accelerate the cleaning process.

Converting `time` column into a date time object

In [8]:
outbreak['Time'] = pd.to_datetime(outbreak['Time'])
vaccine['Time'] = pd.to_datetime(vaccine['Time'], format = '%Y')

In [9]:
#Check work
outbreak['Time'].head()

0   1999-01-01
1   1999-01-01
2   1999-01-01
3   1999-01-01
4   1999-01-01
Name: Time, dtype: datetime64[ns]

In [10]:
#Check work
vaccine['Time'].head()

0   1999-01-01
1   1999-01-01
2   1999-01-01
3   1999-01-01
4   1999-01-01
Name: Time, dtype: datetime64[ns]

In [11]:
#Combining both data frames
measles = pd.concat([outbreak,vaccine])

In [12]:
measles

,HealthTopic,Population,Indicator,Unit,Time,RegionCode,RegionName,NumValue,TxtValue
0,Measles,All cases,Notification rate,N/1000000,1999-01-01,AT,Austria,0.250549290,NaN
1,Measles,All cases,Notification rate,N/1000000,1999-01-01,AT,Austria,0.250549290,NaN
2,Measles,All cases,Notification rate,N/1000000,1999-01-01,DK,Denmark,0.188197140,NaN
3,Measles,All cases,Notification rate,N/1000000,1999-01-01,DK,Denmark,0.188197140,NaN
4,Measles,All cases,Notification rate,N/1000000,1999-01-01,EL,Greece,1.581723750,NaN
...,...,...,...,...,...,...,...,...,...
2217,Measles,Vaccination coverage,Vaccination coverage second dose,%,2018-01-01,SI,Slovenia,94,NaN
2218,Measles,Vaccination coverage,Vaccination coverage second dose,%,2018-01-01,SK,Slovakia,97,NaN
2219,Measles,Vaccination coverage,Vaccination coverage second dose,%,2018-01-01,SK,Slovakia,97,NaN
2220,Measles,Vaccination coverage,Vaccination coverage second dose,%,2018-01-01,UK,United Kingdom,88,NaN
2221,Measles,Vaccination coverage,Vaccination coverage second dose,%,2018-01-01,UK,United Kingdom,88,NaN

### Cleaning process

#### Dropping Duplicates

In [13]:
print(f"there are {measles.duplicated().sum()} duplicates")

there are 26819 duplicates

In [14]:
#Dropping all duplicates
measles.drop_duplicates(inplace=True)

#### Renaming columns

In [15]:
measles.columns = measles.columns.str.lower()
measles.head()

,healthtopic,population,indicator,unit,time,regioncode,regionname,numvalue,txtvalue
0,Measles,All cases,Notification rate,N/1000000,1999-01-01,AT,Austria,0.250549290,NaN
2,Measles,All cases,Notification rate,N/1000000,1999-01-01,DK,Denmark,0.188197140,NaN
4,Measles,All cases,Notification rate,N/1000000,1999-01-01,EL,Greece,1.581723750,NaN
6,Measles,All cases,Notification rate,N/1000000,1999-01-01,EU_EEA31,EU/EEA,0.822608000,NaN
8,Measles,All cases,Notification rate,N/1000000,1999-01-01,FI,Finland,0.000000000,NaN

#### Checking NaN's

In [16]:
measles.isnull().sum()

healthtopic        0
population         0
indicator          0
unit               0
time               0
regioncode         0
regionname         0
numvalue           0
txtvalue       26819
dtype: int64

**Observation**: It's surprising that there are no missing values in the data. This sometimes means that the `NaNs` might be `strings` and are not detected doing method `isnull()`

In [17]:
measles.loc[measles['numvalue'] == '-', 'numvalue'].count()

771

**Observation**: After further investigation it turns out that `NaNs` are indicated as `-` in the data set

In [18]:
#Converting "-" to NaNs
measles.loc[measles['numvalue'] == '-', 'numvalue'] = None
measles.isnull().sum()

healthtopic        0
population         0
indicator          0
unit               0
time               0
regioncode         0
regionname         0
numvalue         771
txtvalue       26819
dtype: int64

#### Dropping uninformative columns

INFORMATION

In [19]:
measles.drop(columns=['txtvalue', 'healthtopic','population'],inplace=True)

#### Checking data types

In [20]:
measles.dtypes

indicator             object
unit                  object
time          datetime64[ns]
regioncode            object
regionname            object
numvalue              object
dtype: object

**Observation:** `numvalue` column needs to be converted into `int`

In [21]:
measles['numvalue'] = pd.to_numeric(measles['numvalue'])

In [22]:
#Check work
measles.dtypes

indicator             object
unit                  object
time          datetime64[ns]
regioncode            object
regionname            object
numvalue             float64
dtype: object

#### Converting Notification rate

INFORMATION

In [23]:
measles.loc[measles['indicator'] == "Notification rate ", ['numvalue']] = measles.loc[measles['indicator'] == "Notification rate ", ['numvalue']].apply(lambda x: x*1000000)

In [24]:
measles.head()

            indicator       unit       time regioncode regionname    numvalue
0  Notification rate   N/1000000 1999-01-01         AT    Austria   250549.29
2  Notification rate   N/1000000 1999-01-01         DK    Denmark   188197.14
4  Notification rate   N/1000000 1999-01-01         EL     Greece  1581723.75
6  Notification rate   N/1000000 1999-01-01   EU_EEA31     EU/EEA   822608.00
8  Notification rate   N/1000000 1999-01-01         FI    Finland        0.00

#### Dropping rows containing Eu/EEA

INFORMATION

In [25]:
measles.shape

(26819, 6)

In [26]:
measles.reset_index(inplace=True)

In [27]:
measles.drop(columns='index', inplace=True)

In [28]:
measles.drop(labels= measles.loc[measles['regionname'] == 'EU/EEA'].index,  inplace=True)

In [29]:
measles

,indicator,unit,time,regioncode,regionname,numvalue
0,Notification rate,N/1000000,1999-01-01,AT,Austria,250549.29
1,Notification rate,N/1000000,1999-01-01,DK,Denmark,188197.14
2,Notification rate,N/1000000,1999-01-01,EL,Greece,1581723.75
4,Notification rate,N/1000000,1999-01-01,FI,Finland,0.00
5,Notification rate,N/1000000,1999-01-01,IE,Ireland,1875666.86
...,...,...,...,...,...,...
26814,Vaccination coverage second dose,%,2018-01-01,RO,Romania,81.00
26815,Vaccination coverage second dose,%,2018-01-01,SE,Sweden,95.00
26816,Vaccination coverage second dose,%,2018-01-01,SI,Slovenia,94.00
26817,Vaccination coverage second dose,%,2018-01-01,SK,Slovakia,97.00
26818,Vaccination coverage second dose,%,2018-01-01,UK,United Kingdom,88.00

In [30]:
measles.shape

(25787, 6)

NEXT STEP

In [31]:
#Save as a new CSV file
measles.to_csv('../data/measles.csv', index=False)